* {
  font-family: 'Quicksand', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden !important;
}

// Utility classes

.white-space {
  height: 2000px;
}

.min-vh-100 {
  min-height: 100vh;
}

.text-size-08 {
  font-size: 0.8rem;
}

.text-size-09 {
  font-size: 0.9rem;
}

.text-size-1 {
  font-size: 1.1rem;
}

.text-size-2 {
  font-size: 1.2rem;
}

.l-spacing-1 {
  letter-spacing: 1px;
}

.l-spacing-2 {
  letter-spacing: 2px;
 }

.color-1 {
  color: #888 !important;
}

.text-white {
  color: #fff !important;
}

.text-tasty {
  color: #418327 !important;
}

.bg-tasty {
  background: #418327 !important;
}

.bg-tasty-secondary {
  background: #e4eee5 !important;
}

.bg-dark {
  background: #343A40 !important;
}

.width-120 {
  width: 120px !important;
}

.icon-small {
  width: 15px;
  height: 15px;
}

.icon-medium {
  width: 20px; 
  height: 20px;
}

.icon-large {
  width: 30px;
  height: 30px;
}

.icon-white {
  fill: #fff !important;

  g path {
    fill: #fff !important;
  }
}

.opacity-02 {
  opacity: 0.2 !important;
}

.isBlurred {
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.outline-none {
  outline: none !important;
  box-shadow: none !important;

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.overflow-hidden {
  overflow: hidden !important;
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 5px 0px rgba(135,133,135,1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(135,133,135,1);
  box-shadow: 0px 2px 5px 0px rgba(135,133,135,1);
}

.section-title {
  position: relative;
  margin: 80px 0 60px 0 !important;

  &::before {
    position: absolute;
    content: '';
    height: 2px;
    left: 0;
    right: 0;
    top: 50%;
    background: #f1f1f1;
    z-index: -6;
  }

  .title {
    position: relative;
    z-index: 1;

    &::after {
      position: absolute;
      content: url('../assets/crossed-knife-and-fork.svg');
      width: 100px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -30%);
      z-index: -1;
    }
  }
  
}

.form-control:focus {
  border-color: var(--secondary);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

// Key Frames
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Layout.jsx
// .app-layout {
  
// }

// Header.jsx
.header-navbar {
  border-bottom: 1px solid var(--white);

  &--overlay {
    position: absolute;
        top: -100px;
        left: 0;
        right: 0;
        height: 150vh;
        background:rgba(0,0,0, 0.5);
        z-index: 9998;
  }
  .brand {
    max-width: 250px;

    img {
      width: 100%;
      min-width: 150px;
      height: auto;
    }
  }

  .navbar-item:hover {
    color: var(--danger) !important;

    .icon-small {
      g path {
        fill: var(--danger) !important;
      }
    }
  }
}

.header-on-scroll {
  background: var(--light) !important;
  border-bottom: 1px solid var(--secondary);
  transition: .7s;
}

.logo-on-scroll {
  img {
    transform: scale(0.7);
    transition: .3s;
  }
}

.navbar-menu--sidebar {
  position: fixed;
  width: 66vw;
  max-width: 400px;
  height: 100vh;
  transition: 0.3s;
  top: 0;
  left: -66vw;
  z-index: 9999;
  
  .close-menu .close-btn {
      cursor: pointer;
  }

  ul {
      li {
          border-bottom: 1px solid lightgray;
          
          a {
              letter-spacing: 2px;
          }   
      }
  }
}

.isActive {
  left: 0;
}

// Homepage.jsx
.homepage {
  overflow: hidden;
}

// Jumbotron.jsx
.hero {
  position: relative;
  height: 400px;
  border-radius: 10px;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;

  &-content { 
    border-radius: 10px;
    max-width: 620px;
    position: relative;
  }

  &-text {
    text-shadow: 1px 1px 9px #0a0a0a;
  }
}

.curved-line {
  position: relative;

  &::before {
    position: absolute;
    content: '';
    bottom: -48px;
    left: 50%;
    transform: translateX(-50%);
    background: url('../assets/curved-line.svg');
    background-repeat: no-repeat; 
    background-size: contain;
    width: 40%;
    min-width: 300px;
    height: 50px;
    z-index: 1;
  }
}

// Searchbar.jsx

.searchbar {
  position: relative;
  width: 100%;
  border-radius: 5px;

  img {
    width: 25px;
    margin: 10px 25px;
    padding-top: 5px;
  }

  &-select {
    .select__control { border: none; }
    .select__indicator-separator { display: none;}
    .select__value-container {
      padding: 10px;
    }
    
    .select__menu-list::-webkit-scrollbar {
      width: 5px !important; 
      height: 0px;
    }

    .select__menu-list::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
      border-radius: 10px;
      margin: 5px 0;
    }

    .select__menu-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: var(--danger);
    }

    .select__value-container:hover {
      cursor: text;
    }
  }

  &-select::-webkit-scrollbar {
    width: 5px;
  }
}

.results {
  position: absolute;
  overflow-y: scroll;
  width: 100%;
  max-height: 300px;
  border: 1px #d3d3d3 solid;
  border-radius: 10px;
  padding-top: 10px;
  z-index: 999;
  

  li {
    padding: 0 10px;
    &:hover {
      cursor: pointer;
      background: var(--primary);
      color: #fff;
    }
  }
}

.results::-webkit-scrollbar {
  width: 5px;
}

.results::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
  margin: 5px 0;
}

.results::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--danger);
}

// SliderNavbar.jsx
.slider-navbar {
  .latest {
    position: relative;
    &::before {
      position: absolute;
      content: url('../assets/label-new.svg');
      top: 0;
      left: 0;
      width: 30px;
    }
  }

  .random {
    img {
      width: 17px;
    }
  }
}

// RecipesSlider.jsx
.recipes-slider {
  min-height: 463px;
}

// SliderContainer.jsx

.slider-container {
  overflow: hidden;

  .slick-slide {
    max-width: 200px;

    .slider-item {
      max-width: inherit;
      overflow: hidden;

      &:hover {
        .card-title { color: var(--dark);}     

        .slider-item-img img {
        opacity: 0.9;
        transform: scale(1.1) translateX(-10%);
      }}
    
      .slider-item-img {
        position: relative;
        max-width: inherit;
        height: 260px;
        overflow: hidden;
        animation: slide-in 0.5s ease-in;
        border-radius: 10px;
      
        img {
          height: 100%;
          width: auto;
          transition: all 0.2s ease-in-out;
        }
      
        .card-img-top {
          display: block;
          height: 100%;
          margin: 0 auto;
          transform: translateX(-10%)
        }
      
        &::before {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 3;

          background-image: linear-gradient(to bottom, transparent, 80%, #000);
          opacity: 0.7;
          border-radius: 10px;
        }
      }

      .card-layout {
        min-height: 130px;
      }
    }
  }
}

// Slider Container Custom Arrows

.slider-next-arrow {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  height: 100%;
  transform: translateX(75%);
}

.slider-previous-arrow {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  transform: translateX(-75%);
}

.next-arrow-container,
.previous-arrow-container {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  // opacity: 0.93;
  cursor: pointer;

  .slider-button {
    border: none;
    // opacity: 0.93;

    outline: none;

    img {
      width: 15px;
    }
  }

  &:hover,
  &:hover .slider-button {
    // background:#e9e9e9 !important;
    opacity: 0.93;
  }
}

// CardItemFooter.jsx
.card-item-footer {
  .recipe-difficulty {
    &-image {
      width: 18px;
      height: 18px;
      margin-right: 5px;
    }
  }
}

// CategoriesContainer.jsx
.categories {
  &-container {
    position: relative;
    margin-bottom: 150px;
    margin-top: 150px;

    .underlay-image {
      position: absolute;
      bottom: -170px;
      left: -270px;
      z-index: -1;
      img {
        width: 400px;
      }
    }
  }

  &-card {
    position: relative;
    border-radius: 10px;
    max-width: 300px;
    cursor: pointer;

    &:hover {
      .category-name, img {
        transition: all 0.15s;
        color: var(--danger) !important;
        transform: scale(1.05);
      }
    }

    
  }
}

// VideoSlider.jsx 
.video-slider {

  // VideoSliderContainer.jsx
  &-container {
    overflow: hidden;
  }

  // VideoSliderItem.jsx
  &-item {
    .thumbnail {
      position: relative;
      height: 100%;
      overflow: hidden;
      border-radius: 10px;
      cursor: pointer;
  
      &:hover { 
        opacity: 0.9;
      }
  
      img {
        width: 100%;
      }
  
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.9;
  
        &-image {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }

    .body {
      .card-link:hover .card-title{
        color: var(--dark);
      }
    }
  }
}

// VideoModal.jsx
.video-modal-body {
  position: relative;

  .modal-close {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
    height: 23px;
    width: 23px;
    background: #fff;
    border-radius: 50%;

    &-btn {
      width: 100%;
      height: 100%;
      border: 0;
      border-radius: 50%;
      background: inherit;

      img {
        width: inherit;
        height: inherit;
        padding: 1px;
        padding-bottom: 3px;
      }
    }

    &:hover {
      opacity: 0.9;
    }
  }
}

// VideoBanner.jsx
.video-banner {
  position: relative;
  width: 100%;
  height: 40vw;
  max-height: 550px;
  margin-bottom: 250px;

  .video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #000;
      z-index: 1;
      opacity: 0.3;
    }

    .clip {
      width: 100%;
      height: auto;
      min-height: 300px;
    }
  }

  .cta-card {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}

// CallToActionCard.jsx
.cta-card {
  background: #fff;
  width: 400px;
  border-radius: 10px;

  .inner-box {
    border-radius: 10px;
    border: 1px solid #d3d3d3;

    .tasty-logo {
      width: 180px;
    }
  }
}

// RecipeOverview.jsx

.recipe-overview {
  position: relative;
  
  &-underlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    background: linear-gradient(#f1f1f1, #fdfdfd);
    border-radius: 10px;
    z-index: -1;
  }
}

// RecipeHeader.jsx
.recipe-header {
  padding-top: 100px;
  img {
    border-radius: 15px;
  }
}

// RecipeContent.jsx
.recipe-content {
  .recipe-steps {
    line-height: 2rem;
    .how-to {
      .youtube-link { 
        border: none;
        background: inherit;
        padding: 0;
        width: 40px;
      }
    }
    .instructions {
      .step {
        position: relative;

        &::before {
          position: absolute;
          content: '';
          background: #d3d3d3;
          top: 45%;
          right: 100;
          width: 100%;
          height: 1px;
          z-index: -100;
        } 
      }
    }
  }
  .recipe-ingredients {
    .ingredients-list li {
      border-bottom: 1px dotted #d3d3d3;

      img { width: 40px; }
      
      .ingredient { width: 150px; }

      &:hover {
        background: var(--light);
        cursor: pointer;

        .ingredient { 
          text-decoration: underline;
        }
      }
    }
  }
}

.sidebar-latest {
  .latest-list-item {
    border: 1px solid #e7e7e7;
    border-radius: 7px;
    .image-holder { width: 70px; }

    &:hover {
      background: #f8f8f8;
    }
  }
}

// CollectionPage.jsx
.collection {
  &-hero {
    position: relative;
    margin-bottom: 220px;
  
    .cta-card {
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
    }
  }
}

.btn-category {
  outline: 0 !important;
  background: #fff;
  border-radius: 5px;
  
  &--secondary {
    font-size: 0.875rem !important;
  }
  
  &:not(.btn-category--active):hover {
    background: #e4eee5 !important;
  }

  .btn-arrows {
    width: 11px;
  }
}

.btn-category--active {
  background-color: #418327 !important;
  color: var(--white) !important;
}

.item-shadow {
  background: radial-gradient(#d7d7d7, #e7e7e7, #fff, #fff);
  transform: rotateX(50deg);

  // sibling selector
  &:hover ~ .item-shadowww {
      height: auto;
  }
}

// CollectionContent.jsx

// CollectionList.jsx & CollectionListItem.jsx & FavoritesItem.jsx
.collection-list {
  &--item {
    position: relative;
    max-width: 280px;
    border-radius: 10px;
    margin-left: 7px;
    margin-right: 7px;
    border: 1px solid #eceeef;
    background: #f8f8f8;

    .item-thumbnail {
      position: relative;
      border-radius: 10px;
      width: 100%;
      height: inherit;

      .favorite,
      .bookmark {
        position: absolute;
        left: 15px;
        border-radius: 20px;
        width: auto;
      }

      .bookmark {
        top: 15px;
      }

      .favorite {
        top: 58px;
      }

      .bookmark:hover {
        background: rgb(72, 170, 131) !important;
      }

      .favorite:hover {
        background: rgb(219, 178, 89) !important;
      }

      .bookmark:hover p,
      .favorite:hover p {
        display: block !important;
      }

      .remove-item {
        position: absolute;
        opacity: 0;
        background: #fff;
        color: red !important;
        top: 0;
        right: 0;
        width: 30px;
        height: 30px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }

    .question-popup {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 9999;
    }

    &:hover {
      cursor: pointer;
      -webkit-box-shadow: 0px 0px 5px 1px rgba(136,136,136,1);
      -moz-box-shadow: 0px 0px 5px 1px rgba(136,136,136,1);
      box-shadow: 0px 0px 5px 1px rgba(136,136,136,1);
      
      .remove-item {
        opacity: 1;
      }
    }
  }
}

// IngredientsPage.jsx

// IngredientsList.jsx
.ingredients-list {
  img {
    width: 35px;
  }
}

// ExpandableList.jsx
.expandable-list {
  .list-area {
    overflow-x: hidden;
    overflow-y: auto;
    height: 0px;
    transition: height .2s;
  }

  .list-area::-webkit-scrollbar {
    width: 3px !important; 
    height: 0px;
  }

  .list-area::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 3px;
    margin: 5px 0;
  }

  .list-area::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: var(--secondary);
  }

  .list-area--expanded {
    height: auto;
    max-height: 420px;
    // overflow-y: scroll;
    padding: 5px 0;
    border-top: 1px dotted #888;
    border-bottom: 1px dotted #888;
  }

  .dropdown-flag {  
    height: 14px;
  }
}

// Dashboard.jsx
// TabCreate.jsx
.tab-create {
  .input-group-text {
    background: #e4eee5;
  }

  .form-control:focus,
  .css-2b097c-container:focus,
  .css-1pahdxg-control,
  .select__control:focus,
  .select__value-container:focus {
    border-color: var(--success) !important;
    // box-shadow: none !important;
    box-shadow: inset 0 1px 1px rgba(65, 136, 68, 0.075), 0 0 8px rgba(128, 192, 131, 0.6);
  }

  .recipe-steps {
    textarea {
      border-bottom-left-radius: 0.4rem !important;
      border-top-right-radius: 0px !important; 
      border-bottom-right-radius: 0.4rem !important;
      border-top: none;
    }

    span {
      border-top-right-radius: .4rem !important; 
      border-bottom-left-radius: 0px !important;
      border-bottom: none;
    }
  }
}

// #################### INGREDIENTS 
.ingredients-table {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  background: var(--light);
  min-height: 100px;

  .ingredients__list {
    background: var(--light);
    li {
      border: 1px solid #d3d3d3;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    
      img { width: 40px; }
      
      .ingredient { width: 170px; }
    
      &:hover {
        background: var(--light) !important;
        cursor: pointer;
      }
    }
  }
}

textarea {
  min-height: 170px;
}

// IngredientModal.jsx
.ingredient-modal {
  .modal-image img {
    max-width: 100px;
  }
}

// Footer.jsx
.footer {
  position: relative;
  height: 500px;
  margin-top: 100px;
  overflow: hidden;

  // &::before {
  //   position: absolute;
  //   content: url('../assets/grass2.png');
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   display: inline-block;
  //   width: 100vw;
  //   height: 120px;
  //   transform: translateY(-97%);
  //   z-index: 1;
  // }
}

// ############## MEDIA QUERIES #############

// Using Bootstrap breakpoints

@media only screen and (max-width: 1200px) {
  .hero { border-radius: 0px;}

  .video-banner {
    margin-bottom: 300px;
    .cta-card {
      transform: translate(-50%, 75%);
    }
  }
}

@media only screen and (max-width: 992px) {
  .header-navbar {
    .brand {
      max-width: 170px;
      img {
        width: 100%;
        min-width: 150px;
        height: auto;
      }
    }
  }
  
  .logo-on-scroll {
    img {
      transform: unset;
    }
  }
}

@media only screen and (max-width: 768px) {
  .video-banner {
    margin-bottom: 250px;
    .cta-card {
      transform: translate(-50%, 40%);
    }
  }
}

@media only screen and (max-width: 576px) {
  h1, h2 {
    font-size: 190%;
  }

  .recipe-header {
    padding-top: 50px;

    .recipe-image-holder {
      max-width: 350px;
    }
  }

  .dashboard-navigation {
    button {
      border: 1px solid #d3d3d3 !important;
      p {
        font-size: 12px;
      }

      .icon-small {
        width: 12px;
        height: 12px;
      }
    }
  }

  .cta-card {
    width: inherit; 
    max-width: 400px;
  }
}